In [ ]:
from pyspark.sql import SparkSession
import random
import pandas as pd
from pyspark.sql import functions as F
spark = SparkSession.builder \.appName("ResultManagementSystem") \.getOrCreate()
def generate_student_profiles(num_students=10000):
    names = [f'Student{i}' for i in range(num_students)]
    return names
subjects = ["Electronics", "Programming", "Database", "Data Science", "Mathematics", "DSA"]

def generate_marks(num_students=10000, subjects=subjects):
    marks = {subject: [random.randint(0, 100) for _ in range(num_students)] for subject in subjects}
    return pd.DataFrame(marks)

student_names = generate_student_profiles()
marks_df = generate_marks()
marks_df['Student Name'] = student_names
spark_df = spark.createDataFrame(marks_df)

average_marks = spark_df.select([spark_df[subject].alias(subject) for subject in subjects]) \.agg(*[F.avg(subject).alias(f"avg_{subject}") for subject in subjects])
min_max_expressions = [F.min(subject).alias(f"min_{subject}") for subject in subjects] + \[F.max(subject).alias(f"max_{subject}") for subject in subjects]
min_max_marks = spark_df.select([spark_df[subject].alias(subject) for subject in subjects]) \.agg(*min_max_expressions)

spark_df = spark_df.withColumn("Total Marks", sum(spark_df[subject] for subject in subjects))
spark_df = spark_df.withColumn("Percentage", (F.col("Total Marks") / (len(subjects) * 100)) * 100)
spark_df.show()
average_marks.show()
min_max_marks.show()
spark.stop()

+-----------+-----------+--------+------------+-----------+---+------------+-----------+------------------+
|Electronics|Programming|Database|Data Science|Mathematics|DSA|Student Name|Total Marks|        Percentage|
+-----------+-----------+--------+------------+-----------+---+------------+-----------+------------------+
|          5|         64|      26|          36|         29| 21|    Student0|        181|30.166666666666668|
|          3|         62|      96|          24|         67| 51|    Student1|        303|              50.5|
|          9|         50|      37|          38|         32|  9|    Student2|        175|29.166666666666668|
|         87|         54|      63|          31|         82| 87|    Student3|        404| 67.33333333333333|
|         83|         79|      47|           0|         73| 23|    Student4|        305| 50.83333333333333|
|         48|         50|      86|          74|         15| 10|    Student5|        283| 47.16666666666667|
|         32|         82|      64|          70|          6| 18|    Student6|        272| 45.33333333333333|
|         48|         34|      98|          51|         67| 45|    Student7|        343|57.166666666666664|
|         71|         61|      88|           4|         75| 85|    Student8|        384|              64.0|
|         77|          5|      80|          18|         61| 60|    Student9|        301| 50.16666666666667|
|         29|         90|      31|          22|         68| 77|   Student10|        317| 52.83333333333333|
|         46|         14|      46|          87|          6| 77|   Student11|        276|              46.0|
|         36|          0|      41|          15|         53|  5|   Student12|        150|              25.0|
|         26|         29|      32|           6|          9| 13|   Student13|        115|19.166666666666668|
|         81|         59|      52|          37|         60| 40|   Student14|        329|54.833333333333336|
|          9|         79|      25|          32|         30| 13|   Student15|        188|31.333333333333336|
|         84|         49|      50|           1|         35| 55|   Student16|        274|45.666666666666664|
|         89|         59|      91|          66|         96| 75|   Student17|        476| 79.33333333333333|
|         50|          5|      30|          56|          8| 93|   Student18|        242| 40.33333333333333|
|         96|         24|       4|          26|         83| 25|   Student19|        258|              43.0|
+-----------+-----------+--------+------------+-----------+---+------------+-----------+------------------+
only showing top 20 rows

+---------------+---------------+------------+----------------+---------------+-------+
|avg_Electronics|avg_Programming|avg_Database|avg_Data Science|avg_Mathematics|avg_DSA|
+---------------+---------------+------------+----------------+---------------+-------+
|        49.8147|        49.6871|     50.5478|         49.9476|        49.5105|50.2299|
+---------------+---------------+------------+----------------+---------------+-------+

+---------------+---------------+------------+----------------+---------------+-------+---------------+---------------+------------+----------------+---------------+-------+
|min_Electronics|min_Programming|min_Database|min_Data Science|min_Mathematics|min_DSA|max_Electronics|max_Programming|max_Database|max_Data Science|max_Mathematics|max_DSA|
+---------------+---------------+------------+----------------+---------------+-------+---------------+---------------+------------+----------------+---------------+-------+
|              0|              0|           0|               0|              0|      0|            100|            100|         100|             100|            100|    100|
+---------------+---------------+------------+----------------+---------------+-------+---------------+---------------+------------+----------------+---------------+-------+